<template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field label="Username" v-model="username" :rules="usernameRules" required></v-text-field>
    <v-text-field label="Password" type="password" v-model="password" :rules="passwordRules" required></v-text-field>
    <v-btn @click="submitForm" :disabled="!valid">Submit</v-btn>
  </v-form>
</template>

<script>
export default {
  props: {
    submit: {
      type: Function,
      required: true,
    },
  },
  data() {
    return {
      valid: false,
      username: '',
      password: '',
      usernameRules: [(v) => !!v && v.length > 0],
      passwordRules: [(v) => !!v && v.length > 0],
    }
  },
  methods: {
    async submitForm() {
      const { username, password } = this
      this.$refs.form.validate()
      await this.submit({ username, password })
    }
  }
}
</script>
