<template>
  <v-card>
    <v-list-item>
      <v-list-item-avatar>
        <v-img :src="image"></v-img>
      </v-list-item-avatar>
      <v-list-item-content>
        <v-list-item-title>{{ username }}</v-list-item-title>
        <v-list-item-subtitle>{{ email }}</v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-card>
</template>

<script>
export default {
  props: ['image', 'username', 'email'],
}
</script>
