<template>
  <v-layout>
    <v-flex>
      <AuthForm :submit="submit"/>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import AuthForm from '~/components/AuthForm'
import { LOGIN } from '~/store'

export default {
  middleware: ['isAuthorized'],
  components: {
    AuthForm,
  },
  computed: {
    ...mapGetters({
      isAuthorized: 'isAuthorized',
    }),
  },
  methods: {
    ...mapActions({
      login: LOGIN,
    }),
    async submit(user) {
      try {
        await this.login(user)
        this.$router.push('/profile')
      } catch (err) {
        alert(err)
      }
    }
  },
  mounted() {
    if (this.isAuthorized) {
      this.$router.replace('/profile')
    }
  },
}
</script>
