<template>
  <v-layout>
    <v-row>
      <v-col>
        <v-btn @click="logoutUser">Logout</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <UserCard
          :email="$store.state.user && $store.state.user.email"
          :image="$store.state.user && $store.state.user.image"
          :username="$store.state.user && $store.state.user.username"
        />
      </v-col>
    </v-row>
  </v-layout>
</template>

<script>
import { mapActions } from 'vuex'

import UserCard from '~/components/UserCard'
import { LOGOUT } from '~/store'

export default {
  middleware: ['isAuthorized'],
  components: {
    UserCard,
  },
  methods: {
    ...mapActions({
      logout: LOGOUT,
    }),
    async logoutUser() {
      await this.logout()
      this.$router.replace('/')
    }
  }
}
</script>
